@model PaginationResponse<User>
@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>
<a class="btn btn-info" asp-action="Create">+ New User</a>

<form class="navbar-search" asp-action="Index" method="GET">
    <input type="hidden" name="Page" value="@Model.CurrentPage" />
    <input type="hidden" name="RecordsPerPage" value="@Model.RecordsPerPage" />

    <div class="input-group mb-3">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar.." aria-label="Serch" asp-form="@Model.Filter" name="Filter" />

        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</form>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Documento</th>
            <th>Numero de Telefono</th>
            <th>Nombre de Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User item in Model.List)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Document</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Role.RoleName</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" method="POST" asp-route-id="@item.Id">Edit</a>
                    @*<form asp-action="Delete" asp-route-id="@item.Id" method="POST" style="display: contents;">
                        <button class="btn btn-danger btnDelete">Eliminar</button>
                    </form>*@
                </td>
            </tr>
        }

    </tbody>

</table>

<nav aria-label="">

    <ul class="pagination justify-content-center">

        @* Primero *@
        <li class="page-item">
            <a class="page-link  @(Model.CurrentPage == 1 ? "disabled" : "")"
               asp-action="Index"
               asp-route-Page="1"
               asp-route-Filter="@Model.Filter"
               asp-route-RecordsPerPage="@Model.RecordsPerPage">
                &laquo;
            </a>
        </li>

        @* Anterior *@
        <li class="page-item">
            <a class="page-link  @(!Model.HasPrevious ? "disabled" : "")"
               asp-action="Index"
               asp-route-Page="@(Model.CurrentPage - 1)"
               asp-route-Filter="@Model.Filter"
               asp-route-RecordsPerPage="@Model.RecordsPerPage">
                &lsaquo;
            </a>
        </li>

        @* Páginas *@
        @foreach (int page in Model.Pages)
        {
            <li class="page-item">
                <a class="page-link  @(Model.CurrentPage == page ? "disabled" : "")"
                   asp-action="Index"
                   asp-route-Page="@(page)"
                   asp-route-Filter="@Model.Filter"
                   asp-route-RecordsPerPage="@Model.RecordsPerPage">
                    @(page)
                </a>
            </li>
        }

        @* Siguiente *@
        <li class="page-item">
            <a class="page-link  @(!Model.HasNext ? "disabled" : "")"
               asp-action="Index"
               asp-route-Page="@(Model.CurrentPage + 1)"
               asp-route-Filter="@Model.Filter"
               asp-route-RecordsPerPage="@Model.RecordsPerPage">
                &rsaquo;
            </a>
        </li>

        @* Último *@
        <li class="page-item">
            <a class="page-link  @(Model.TotalPages == Model.CurrentPage ? "disabled" : "")"
               asp-action="Index"
               asp-route-Page="@(Model.TotalPages)"
               asp-route-Filter="@Model.Filter"
               asp-route-RecordsPerPage="@Model.RecordsPerPage">
                &raquo;
            </a>
        </li>

    </ul>

</nav>

@section Scripts {

    <script>

        $(document).ready(function () {

            $('.btnDelete').click(function (event) {

                event.preventDefault();

                Swal.fire({

                    title: "¿Desea eliminar el Usuario?",
                    text: "No Podra Revertirlo",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Si",
                    cancelButtonText: "No, Cancelar"

                }).then((result) => {

                    if (result.isConfirmed) {

                        const deleteForm = $(this).closest('form');

                        deleteForm.submit();

                    }
                });


            });


        });

    </script>
}