@model IEnumerable<SoftwareVentas.Data.Entities.Customer>

@{
    ViewData["Title"] = "List of Clients";
}

<h1>List of Clients</h1>
<a class="btn btn-info" asp-action="Create">+ New Customer</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.address</td>
                <td>@customer.mainPhone</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@customer.idCustomer">Edit</a>
                    <form asp-action="Delete" asp-route-id="@customer.idCustomer" method="POST" style="display: contents;">
                        <button class="btn btn-danger btnDelete">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {

        <script>

            $(document).ready(function () {

                    $('.btnDelete').click(function(event) {

                        event.preventDefault();

                        Swal.fire({

                            title: "¿Desea eliminar el Cliente?",
                            text: "No Podra Revertirlo",
                            icon: "question",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Si",
                             cancelButtonText: "No, Cancelar"

                        }).then((result) => {

                            if (result.isConfirmed) {
                                
                                const deleteForm = $(this).closest('form');

                                deleteForm.submit();

                            }
                        });


                    });


            });

        </script>
}
