@model IEnumerable<SoftwareVentas.Data.Entities.Product>

@{
ViewData["Title"] = "Lista de Productos";
}

<h1>Lista de Productos</h1>
<a class="btn btn-info" asp-action="Create">+ New Product</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Descuento</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Stock</td>
            <td>@product.Discount</td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@product.idProduct">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.idProduct">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
